@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #f6f7fe;
}

/* Conteúdo principal */

#conteudo-principal {
  background: url(../img/create.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Menu*/

header {
  box-shadow: 2px 2px 2px black;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.7);
  height: 80px;
  padding: 0 10rem;
}

.menu nav {
  padding: 20px;
  justify-content: space-between;
  display: flex;
}

.logo2 {
  display: flex;
}

.logo2 ul {
  display: flex;
}

.logo2 ul li {
  margin-left: 50px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  margin-top: 2px;
  text-decoration: none;
  font-size: 16pt;
  display: block;
  color: #fff;
  padding: 5px;
}

nav ul li a:hover {
  border-bottom: 2px solid grey;
}

.burger,
#logo-mobile {
  display: none;
}

.logo ul {
  display: flex;
}

.logo img {
  width: 80px;
}

/* Text-Animation*/

.text-animation {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 0;
  background: rgb(0, 0, 0, 0.7);
  border-left: 2px solid yellow;
  border-bottom-left-radius: 20px;
  width: 814px;
}

.line {
  color: #fff;
  font-size: 35pt;
  border-right: 2px solid rgba(255, 255, 255, 0.765);
  font-family: "Special Elite", cursive;
  padding-top: 12px;
  white-space: nowrap;
  overflow: hidden;
  padding: 9px 5px 5px 5px;
}

.typing-animation {
  animation: blinkCursor 500ms infinite normal, typing 3s steps(40) 1s normal;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}

#info-menu {
  border-bottom-left-radius: 20px;
  border-left: 2px solid yellow;
  padding: 8px;
  margin-left: 50px;
  background-color: rgb(0, 0, 0, 0.8);
  position: absolute;
  top: 46%;
  font-size: 24pt;
  font-weight: bold;
  color: rgb(207, 207, 16);
}

/*Sessão Cards*/
#skills {
  position: absolute;
  bottom: 90px;
  margin-left: 10%;
  border-bottom-left-radius: 20px;
  width: 160px;
  height: 80px;
  border: none;
  margin: 20px 60px;
  color: black;
  background-color: rgb(255, 0, 0, .7);
  cursor: pointer;
  border-left: 2px solid red;
  font-size: 20pt;
  font-weight: 600;
  outline: none;
}

#skills:hover {
  background-color: red;
}

#cont1 p {
  text-align: initial;
  padding: 4px;
  padding-left: 20px;
}

#danger {
  margin-bottom: -20px;
  padding-top: 5px;
  color: rgb(134, 9, 9, .8);
}



.container-card {
  justify-content: center;
  align-items: center;
  display: none;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: -150px;
  left: 0;
  right: 0;

}

.container-card.txt {
  display: flex;
}

.container-card .box-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, .95);
  color: #fff;
  position: relative;
  height: 230px;
  margin: 20px;
  width: 290px;
}

.container-card .box-card:hover {
  color: #000;
}

.container-card .box-card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #fff;
  background: #000;
  border-bottom-left-radius: 20px;
}

.container-card .box-card:hover:before {
  background: #fff;
  transition: .5s;
}

.container-card .box-card .card-pri-content {
  position: absolute;
  padding: 20px;
  text-align: center;
  transition: .5s;
}

.card-pri-content h1 {
  padding: 20px;
}


.container-card .box-card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border: 4px solid #fff;
  border-right: none;
  background: rgba(255, 255, 255, .08);
}








/* Cards secundários*/

.cards {
  justify-content: center;
  align-items: center;
  display: none;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: -350px;
  left: 0;
  right: 0;
}

.cards.mostrar {
  display: flex;
}

.close-card {
  position: absolute;
  right: 10px;
  top: 5px;
  background: red;
  border: 1px solid black;
  z-index: 2;
  width: 28px;
  border-radius: 50%;
  height: 28px;
  cursor: pointer;
  outline: none;
}

.card {
  border-radius: 20px;
  background-color: #fff;
  position: relative;
  height: 450px;
  margin: 20px;
  width: 260px;
  overflow: hidden;
  box-shadow: 2px 2px 2px black;
}

.card:hover {
  height: 430px;
  transition: 2s;
}

.img-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(400px at center 100px);
  transition: 0.5s;
  transition-delay: 0.3s;
}

.card:hover .img-card {
  clip-path: circle(80px at center 100px);
  transition-delay: 0s;
}

.card:hover .img-card .img-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.card-content h2 {
  margin: 0;
  padding: 0;
}

.card-content h2,
.card-content p {
  padding: 4px;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
}

.card-content p {
  font-size: 17px;

}

.card:hover .card-content h2 {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.3s;
}

.card:hover .card-content p {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.7s;
}

@keyframes animecard {
  from {
    opacity: 0;
    transform: translate3d(0, -400px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.cards {
  animation: animecard 1s;
}

.skill-js {
  display: flex;
}

.skill-js p {
  font-size: 12pt;
}

#skilljs {
  border: 2px solid rgb(255, 255, 9, .9);
  width: 100px;
  height: 45px;
  margin: 5px;
  background-color: rgb(255, 255, 9, .9);
  margin-left: -8px;
}

#skilljs2 {
  border: 2px solid rgb(156, 235, 39, .7);
  width: 100px;
  height: 45px;
  margin: 5px;
  background-color: rgb(156, 235, 39, .7);
  padding-top: 12px;
}

#skilljs3 {
  border: 2px solid rgb(98, 199, 224, .5);
  width: 100px;
  height: 45px;
  margin: 5px;
  background-color: rgb(98, 199, 224, .5);
  padding-top: 12px;
}


/* Sessão projects*/

#projects {
  padding-top: 350px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

#projects h2 {
  color: #999;
  text-align: center;
  font-size: 35pt;
}

.box-project {
  width: 84%;
  margin: 0 auto;
  background-color: #ffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid grey;
  border-radius: 20px;
  box-shadow: 2px 2px 2px grey;
  padding-top: 60px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 90px;
  border-left: 2px solid yellow;
}

.box-project button {
  cursor: pointer;
  font-size: 12pt;
  border: 1px solid yellowgreen;
  outline: none;
  border-radius: 50px;
  width: 44%;
  height: 50px;
  margin-top: 40px;
  opacity: 0.9;
  box-shadow: 1px 1px 1px black;
}

#preview {
  box-shadow: 7px 1px 5px black;
}

#preview:hover {
  box-shadow: 1px 1px 1px black;
}

#visitar {
  margin-left: 20px;
}

.box-project button:hover {
  color: rgb(12, 68, 12);
  background-color: rgba(255, 238, 4, 0.781);
  opacity: 1;
}

.img-project {
  max-width: 100%;
}

.img-project img {
  max-width: 100%;
}

.project-content {
  height: 260px;
}

.project-content h2 {
  padding-bottom: 25px;
  font-size: 2.3em;
}

.project-content a {
  text-decoration: none;
  color: #010615;
}

.project-content p {
  width: 480px;
  padding: 1px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.1em;
  color: rgb(138, 137, 137);
}

#lk {
  text-decoration: none;
  border-radius: 7px;
  padding: 0px 10px 0px 10px;
  background-color: rgba(255, 238, 4, 0.781);
}

#lk:hover {
  text-decoration: underline;
}

/* Popup PREVIEW*/
.modal-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.mostrar {
  display: flex;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mostrar .modal {
  animation: modal .3s;
}

.modal {
  background: white;
  width: 80%;
  height: 80%;
  min-width: 300px;
  border: 5px solid yellow;
  box-shadow: 0 0 0 10px white;
  position: relative;
  text-align: center;
}

.close {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid white;
  background: black;
  color: white;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
}

.modal img {
  padding: 10px;
}

#modal-promocao .modal img {
  width: auto;
  max-width: 100%;
  margin: 0 auto;

}

#modal-promocao2 .modal img {
  width: auto;
  max-width: 40%;
  min-width: 200px;
}



#modal-promocao3 .modal img {
  width: auto;
  max-width: 40%;
  min-width: 300px;

}

/* Calendário*/
#recreio {
  display: flex;
  justify-content: center;
  background: #111;
  height: 120px;
}

.calendario {
  background-color: rgb(15, 13, 13);
  box-shadow: 2px 2px 20px 0px black;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5px;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
  text-align: center;
}

.calendario #mes {
  position: relative;
  height: 100%;
  padding-top: 17px;
  background: rgba(255, 238, 4, 0.781);
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.calendario #dia {
  height: 100%;
  margin-top: 54px;
  margin-left: 9px;
  font-size: 20px;
  font-weight: 300;
  color: #999;
}

.calendario #numero-dia {
  margin-top: 0px;
  margin-left: 9px;
  font-size: 80px;
  line-height: 1em;
  font-weight: 700;
  color: #fff;
}

.calendario #ano {
  height: 100%;
  margin-top: 55px;
  margin-left: 9px;
  font-size: 20px;
  font-weight: 500;
  color: #999;
}

/* About Me*/
.contato {
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  background: #111;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.box-sobre {
  margin-top: 50px;
  box-shadow: 1px 0px 5px 0px grey;
  padding: 30px;
  width: 290px;
  margin-left: 150px;
  height: 430px;
  border: 1px solid grey;
}

.img-box {
  width: 130px;
  height: 130px;
  margin: 0 auto;
}

.box-sobre p,
h4 {
  text-align: center;
  padding-top: 13px;
  margin: 3px;
}

.box-sobre img {
  cursor: pointer;
  float: right;
  position: absolute;
  border-radius: 50%;
}

.contato-content {
  width: 50%;
  text-align: center;
}

.contato-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contato-content form input,
textarea {
  color: #fff;
  margin-top: 30px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  height: 40px;
  width: 300px;
}

.contato-content form button {
  opacity: 0.8;
  width: 200px;
  height: 30px;
  margin-top: 15px;
  outline: none;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, yellow, black);
}

.contato-content form button:hover {
  opacity: 1;
  box-shadow: 1px 1px 1px yellow;
}

.contato-content form input:hover::placeholder {
  position: relative;
  padding: 130px;
  transition: 1s;
  color: #fff;
}


/* footer*/
.footer {
  font-size: 15pt;
  padding: 30px;
  text-align: center;
  background: linear-gradient(to bottom, #111, rgb(37, 37, 37));
  color: #fff;
}

.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;

}

.icon-footer ul {
  position: relative;
  display: flex;
}

.icon-footer ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 50%;
  background-color: #fff;
  transition: .5s;
  cursor: pointer;
}

.icon-footer ul li a {
  color: black;
}

.icon-footer ul li:hover {
  color: #999;
  transform: translateY(-20px);
}

.wp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}

.wp img {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.wp p {
  position: absolute;
  right: 0px;
  bottom: 65px;
  color: green;
}

.wp img:hover {
  background-color: wheat;
  transition: .5s;
}




@media (min-width: 900px) {
  header {
    position: fixed;
    z-index: 2;
  }
}

@media (max-width: 900px) {
  header {
    background-color: #010615;
    width: 100%;
    color: #fff;
    height: 80px;
    padding: 0 1rem;
    box-shadow: 0px 2px 15px -9px red;
    font-size: 20pt;
  }

  .menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #010615;
    left: -100%;
    z-index: 2;
    transition: 0.4s;
    padding-top: 80px;
    text-transform: uppercase;
  }

  .logo {
    margin: 0 auto;
  }

  .logo img {
    width: 200px;
    position: absolute;
    top: 20%;
  }

  .logo2 ul {
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  nav ul li a {
    padding: 10px;
    color: #fff;
    border-left: 2px solid yellow;
    margin-top: 40px;
  }

  .menu__move {
    transition: 0.5s;
    left: 0;
  }

  .burger {
    top: 13px;
    right: 50px;
    z-index: 2;
    position: absolute;
    float: right;
    display: flex;
    cursor: pointer;
  }

  .burger img {
    width: 50px;
  }

  #logo-mobile {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .text-animation {
    width: 470px;
  }

  .line {
    font-size: 20pt;
  }

  /*Cards*/

  .cards {
    position: relative;
    bottom: 140px;
  }

  .card {
    min-width: 30%;
  }

  .container-card {
    position: absolute;
    top: 85%;
  }

  #projects {
    margin-top: 310px;
  }

  #projects h2 {
    margin-top: 10px;
  }

  .container-card {
    flex-wrap: wrap;
  }

  .container-card .box-card {
    width: 350px;
    box-shadow: 8px 8px 5px black;
  }

  .box-sobre {
    margin-left: 0px;
  }

  .contato-content {
    margin-left: 25px;
  }
}

/* Animação */

[data-anime] {
  opacity: 0;
  transition: 0.3s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

@media (max-width: 600px) {
  .text-animation {
    height: 50px;
    width: 313px;
    display: flex;
    justify-content: center;
  }

  .line {
    padding-top: 18px;
    font-size: 13pt;
  }

  .project-content {
    padding-bottom: 500px;
  }

  .project-content p {

    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  #btnp {
    width: 86%;
    margin: 0 auto;
  }

  .box-project {
    height: 760px;
  }

  .contato-content {
    margin-top: 30px;
    margin-left: 0px;
    width: 52%;
  }
}